$background-blue-btn: #0176FF;
$background-gray-btn: #E5F1FF;
$text-blue-btn: #FFFFFF;
$text-gray-btn: #377DFF;
$background-feature-small: #F5F6FA;
$background-testmonials: #F5F6FA;
$background-card-feature-small: #FFFFFF;
$background-card-testmonials: #FFFFFF;
$color-text-link: #397EFF;
$color-icon-link: #397EFF;
$background-color-page2: #F5F6FA;
$background-default-info-block: #FFFFFF;
$color-line-info-text: #F5F6FA;
$color-border-text-box: #F5F6FA;
$background-footer-page2: #FFFFFF;