.features-with-video {
    $self: &;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 900px;
    #{$self}__info-text {
        display: flex;
        flex-direction: column;

        h1 {
            width: 431px;
            margin: 0 0 62px 0;
        }
        p {
            width: 364px;
            margin: 0 0 15px 0;
        }
    }
    #{$self}__photo img {
        max-width: 100%;
    }
}

@media screen and (min-width: 474px) and (max-width: 768px) {
    .features-with-video {
        $self: &;
        flex-direction: column;

        #{$self}__info-text{
            h1 {
                font-size: 35px;
            }
        }
    }
}
@media screen and (max-width: 474px) {
    .features-with-video {
        $self: &;
        flex-direction: column;

        #{$self}__info-text{
            h1 {
                width: 100%;
                font-size: 35px;
            }
        }
    }
}